<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
</head>
<body>
<a href="{% url 'signup' %}">
    <h1>signup</h1>
</a>
{% if user.is_authenticated %}
    <a href="{% url 'profile' user.pk %}">
        <p>{{ user.username }}</p>
    </a>
<a href="{% url 'posts:new_post' %}">
    <h1>add new post</h1>
</a>
<a href="{% url 'logout' %}">
    <p>logout</p>
</a>
    {% endif %}
<a href="{% url 'login' %}">
    <h1>login</h1>
</a>
</body>
</html>