
{% extends 'base.html' %}

{% block content %}
<h1>{{ post.title }}</h1>
{% if post.image %}
<img src="{{ post.image.url }}" alt="">
{% endif %}
<p>{{ post.text }}</p>
<h4>published {{ post.created_at }} by {{ post.author }}</h4>
{% if user.is_authenticated %}
<a href="{% url 'like_post' post.pk %}">{% if user in post.likes.all %}unlike{% else %}like{% endif %}</a>
{% if post.author == user %}<a href="{% url 'edit' post.pk %}">
    <button>edit post</button>
</a>{% endif %}
{% endif %}
{% if post.likes.count > 1 %}
<p>{{ post.likes.first }} and {{ post.likes.count|add:-1 }} others like your post</p>
{% elif post.likes.count == 1 %}
<p>{{ post.likes.first }} likes your post</p>
{% else %}
<p>no likes yet</p>
{% endif %}
{% include 'comment_form.html' %}
{% include 'comments.html' %}
{% endblock %}