
{% extends 'base.html' %}

{% block content %}
<h1>{{ post.title }}</h1>
{% if post.image %}
<img src="{{ post.image.url }}" alt="">
{% endif %}
<p>{{ post.text }}</p>
<h4>published {{ post.created_at }} by {{ post.author }}</h4>
{% if user.is_authenticated %}
<a href="{% url 'edit' post.pk %}">
    <button>edit post</button>
</a>
{% endif %}
{% for comment in comments %}
<div>
<p> comment {{ forloop.counter }} by {{ comment.author }} {{ comment.created }}</p>
{{ comment.text|linebreaks }}
    </div>
{% endfor %}
{% include 'comment_form.html' %}
{% endblock %}